<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<!--로그인 페이지.
결제회원인 경우 goToHome() 이 실행 돼 메인페이지로 가고
비결제회원인 경우 goToMembershipInfo()이 실행 돼 멤버십 페이지로 간다.-->
  <p>로그인페이지입니다.</p>
  <button onclick="goToHome()">결제회원입니다.</button>
  <button onclick="goToMembershipInfo()">비결제회원입니다.</button>
  <script type="text/javascript" src="/js/common.js"></script>
</body>
</html>